<!DOCTYPE html>
<html lang="en-UK">

<head data-ng-csp>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Comic Buttons: Menu</title>
    <link rel="stylesheet" href="style.css" />
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="menu.js"></script>
    <script src="my-array.js"></script>
    <script src="util.js"></script>
</head>

<body>
    <div data-ng-app="menu" data-ng-controller="menuCtrl">
        <div class="row padall fullscreenOnly centre">
            <h1>Super Comic Buttons: Menu</h1>
        </div>
        <div class="row">
            <div class="fullscreenOnly col-m-0 col-3"><br /></div>
            <form name="create" class="light col-m-12 col-6">
                <div class="row">
                    <div class="col-m-1 padall">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-m-2 padall">
                        <input data-ng-model="name" id="name" type="text" required />
                    </div>
                    <div class="col-m-1 padall">
                        <label for="url">Url</label>
                    </div>
                    <div class="col-m-3 padall">
                        <input data-ng-model="url" id="url" type="text" required />
                    </div>
                    <div class="col-m-1 padall">
                        <label>Type</label>
                    </div>
                    <div class="type">
                        <div class="col-m-2 padall">
                            <input data-ng-value="'rss'" data-ng-model="type" id="xml-type" name="type" type="radio" />
                            <label for="xml-type">rss/atom</label>
                        </div>
                        <div class="col-m-2 padall">
                            <input data-ng-value="'html'" data-ng-model="type" id="dom-type" name="type" type="radio" />
                            <label for="dom-type">html</label>
                        </div>
                    </div>
                </div>
                <div data-ng-show="type==='html'" class="row">
                    <p class="col-m-6 padall">
                        Html mode is less reliable than rss/xml mode, so only use it as a last resort.<br />
                        It reads a webpage until it finds the object with the id given, and then finds the first image
                        contained within that object.<br />
                        Please use the element inspector found in your browsers developer tools to inspect the image or
                        comic panel on the page you wish to check for updates. If that image has an id, use that. If
                        not, move to an outer element until you find one with an id to use. If the image url is
                        relative, you will need to provide the website's root url. If you want to open the website
                        instead of just opening the image directly, you will need to provide a front page url.<br />
                        If the target website is redesigned, you will probably need to find a new id.
                    </p>
                    <div class="col-m-2 padall">
                        <label for="id">Image Id</label>
                    </div>
                    <div class="col-m-4 padall">
                        <input data-ng-model="id" id="id" type="text" data-ng-required="type==='html'" />
                    </div>
                    <div class="col-m-2 padall">
                        <label for="root">Root Url</label>
                    </div>
                    <div class="col-m-4 padall">
                        <input data-ng-model="root" id="root" type="text" />
                    </div>
                    <div class="col-m-2 padall">
                        <label for="override">Front Page Url</label>
                    </div>
                    <div class="col-m-4 padall">
                        <input data-ng-model="override" id="override" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-m-2 padall">
                        <button data-ng-click="createClick()" data-ng-disabled="create.$invalid">Create</button>
                    </div>
                </div>
            </form>
            <div class="fullscreenOnly col-m-0 col-3"><br /></div>
        </div>
        <div class="row">
            <div data-ng-repeat="feed in feeds" class="col-4 col-m-6 padall">
                <div class="light row">
                    <div class="col-5 col-m-7 padall truncate">
                        <b data-ng-attr-style="{{feed.style()}}" class="col-m-12 col-12 truncate custom">
                            {{ feed.entity.name }}
                        </b>
                    </div>
                    <div class="col-4 col-m-5 truncate padall">
                        {{ feed.unreadMessage }}
                    </div>
                    <div class="col-3 col-m-6 padall">
                        <button data-ng-click="feed.open()" ng-class="{'attention': feed.unread > 0}">Open!</button>
                    </div>
                    <div class="col-4 col-m-6 truncate padall">
                        read: {{ feed.lastReadMessage }}
                    </div>
                    <div class="col-5 col-m-7 truncate padall">
                        updated: {{ feed.lastUpdatedMessage }}
                    </div>
                    <div class="col-3 col-m-5 padall">
                        <button data-ng-click="feed.read()">Read!</button>
                    </div>
                    <div data-ng-show="feed.entity.enabled" class="row">
                        <table class="col-m-12, col-12">
                            <tr>
                                <th data-ng-repeat="weekday in feed.weekdays" data-ng-attr-title="{{weekday.title}}"
                                    data-ng-attr-style="{{weekday.style}}" class="day">{{weekday.text}}</th>
                            </tr>
                            <tr data-ng-repeat="hour in feed.hours">
                                <td data-ng-repeat="day in hour.days" data-ng-attr-title="{{day.title}}"
                                    data-ng-attr-style="{{day.style}}" class="num"></td>
                            </tr>
                        </table>
                        <div class="col-m-6 col-3 padall wrap">
                            {{feed.perWeek}} per week
                        </div>
                        <div class="col-m-6 col-3 padall wrap">
                            {{feed.perDay}} per day
                        </div>
                        <div class="col-m-6 col-3 padall wrap">
                            {{feed.betweenUpdates}} beween updates
                        </div>
                    </div>
                    <form name="edit">
                    <div data-ng-show="feed.editMode" class="row">
                        <div class="col-m-1 padall">
                            <label data-ng-attr-for="{{'name'+$index}}">Name</label>
                        </div>
                        <div class="col-m-2 padall">
                            <input data-ng-model="feed.entity.name" data-ng-attr-id="{{'name'+$index}}" type="text"
                                required />
                        </div>
                        <div class="col-m-1 padall">
                            <label data-ng-attr-for="{{'url'+$index}}">Url</label>
                        </div>
                        <div class="col-m-3 padall">
                            <input data-ng-model="feed.entity.url" data-ng-attr-id="{{'url'+$index}}" type="text"
                                required />
                        </div>
                        <div class="col-m-1 padall">
                            <label>Type</label>
                        </div>
                        <div class="type">
                            <div class="col-m-2 padall">
                                <input data-ng-value="'rss'" data-ng-model="feed.entity.type" data-ng-attr-id="{{'xml-type'+$index}}"
                                    name="type" type="radio" />
                                <label data-ng-attr-for="{{'xml-type'+$index}}">rss/atom</label>
                            </div>
                            <div class="
                                    col-m-2 padall">
                                <input data-ng-value="'html'" data-ng-model="feed.entity.type" data-ng-attr-id="{{'dom-type'+$index}}"
                                    name="type" type="radio" />
                                <label data-ng-attr-for="{{'dom-type'+$index}}">html</label>
                            </div>
                        </div>
                        <div data-ng-show="feed.entity.type==='html'" class="row">
                            <div class="col-m-2 padall">
                                <label data-ng-attr-for="{{'id'+$index}}">Image Id</label>
                            </div>
                            <div class="col-m-4 padall">
                                <input data-ng-model="feed.entity.id" data-ng-attr-id="{{'id'+$index}}" type="text"
                                    data-ng-required="feed.entity.type==='html'" />
                            </div>
                            <div class="col-m-2 padall">
                                <label data-ng-attr-for="{{'root'+$index}}">Root Url</label>
                            </div>
                            <div class="col-m-4 padall">
                                <input data-ng-model="feed.entity.root" data-ng-attr-id="{{'root'+$index}}" type="text" />
                            </div>
                            <div class="col-m-2 padall">
                                <label data-ng-attr-for="{{'override'+$index}}">Front Page Url</label>
                            </div>
                            <div class="col-m-4 padall">
                                <input data-ng-model="feed.entity.overrideLink" data-ng-attr-id="{{'override'+$index}}"
                                    type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-m-6 padall">
                        <button data-ng-click="feed.edit($event)" data-ng-disabled="edit.$invalid && feed.editMode">Edit</button>
                    </div>
                </form>
                    <div class="col-4 col-m-6 padall">
                        <button data-ng-click="feed.toggleActiveness()">
                            {{ feed.entity.enabled ? "Activate" : "Deactivate" }}
                        </button>
                    </div>
                    <div class="col-4 col-m-6 padall">
                        <button data-ng-click="feed.delete($event)">Delete?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>