<!DOCTYPE html>
<html lang="en-UK">

<head data-ng-csp>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Comic Buttons: Popup</title>
    <link rel="stylesheet" href="style.css" />
    <script src="lib/angular.min.js"></script>
    <script src="popup.js"></script>
</head>

<body class="light" style="width: 8em">
    <div data-ng-app="popup" data-ng-controller="popupCtrl" class="padall">
        <button data-ng-click="toggleClick()">{{ background.active ? 'Deactivate' : 'Activate' }}</button><br />
        <button data-ng-click="menuClick()">Menu</button><br />
        <button data-ng-click="optionsClick()">Options</button><br />
        <button data-ng-click="readOneClick()" data-ng-disabled="0 >= background.unreadNo">Read 1</button><br />
        <button data-ng-click="readAllClick()" data-ng-disabled="1 >= background.unreadNo">Read All!</button><br />
    </div>
</body>